.home-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
    flex-shrink: 0;
}

.home-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.home-card img {
    width: 100px;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
}

.top-product-name {
    font-size: 1.1em;
    margin: 10px 0;
}

.top-price {
    font-size: 1.0em;
    color: #121212;
    margin-top: 5px;
}